img {
    margin: 0.8em;
}

.doubleimage {
    margin: 0.5em 0.55em
}

.descriptions {
    margin: 2em 3em;
}

#project-buttons {
    margin: 5em auto 2em auto;
    text-align: center;
    color: #878787;
}

.project-buttons {
    color: #878787;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    font-weight: 700;
    margin: 3em 0.5em 0.5em 1.2em;
    line-height: 0.6em;
}

h4 {
    margin: 0.5em 2.5em;
    font-weight: 100;
    color: #a1a1a1;
}

h5 {
    font-size: 1em;
    margin: 6em 0.5em 0.5em 0.5em;
    font-variant: small-caps;
}

.visit {
    font-size: 1.5em;
    text-align: center;
    color: #000000;
}

a.visit {
    font-size: 1em;
    color: #bfaff8;
}

a.visit:hover {
    text-decoration: underline;
}

@media screen and (max-width: 615px) {
    h3 {
      line-height: 1em;  
    }
    
    h4 {
        line-height: 0.5em;
    }
}
